<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{include :: header('用户白名单')}"/>
<body>
<div class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-prove-white-edit" th:object="${white}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="prove">QQ：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" id="prove" name="prove" th:field="*{prove}"
                               type="number">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:insert="~{include :: footer}"/>
<script type="text/javascript">
    const prefix = ctx + "config/bot/black/prove";

    $("#form-prove-white-edit").validate({
        rules: {
            prove: {
                required: true,
                qq: true,
            }
        },
        messages: {
            prove: {
                required: "请输入正确的QQ账号",
            }
        },
        focusCleanup: true
    });


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/update", $('#form-prove-white-edit').serialize());
        }
    }

    function doSubmit(index, layero) {
        const tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowLastLevel(tree)) {
            const body = $.modal.getChildFrame(index);
            $("#prove").val(body.find('#prove').val());
            $.modal.close(index);
        }
    }
</script>
</body>
</html>