<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{include :: header('订阅')}"/>
<th:block th:insert="~{include :: bootstrap-select-css}"/>
<body>
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="subscribe-form">
                <div class="select-list">
                    <ul>
                        <li>
                            <label for="subBotUid">Bot： </label><input class="form-control" name="subBotUid" id="subBotUid"
                                                       placeholder="BotUid"
                                                       type="number"/>
                        </li>
                        <li>
                            <label for="subGroup">Group： </label><input class="form-control" name="subGroup" id="subGroup"
                                                         placeholder="GroupUid"
                                                         type="number"/>
                        </li>
                        <li>
                            <a class="btn btn-success btn-rounded btn-sm" onclick="searchPre()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="container-div">
            <div class="row">
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{include :: footer}"/>
<th:block th:insert="~{include :: bootstrap-select-js}"/>
<script th:inline="javascript">
    var prefix = ctx + "data/warframe/subscribe"
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "订阅",
            sortOrder: "desc",
            escape: true,
            showPageGo: true,
            rememberSelected: true,
            columns: [
                {
                    field: 'state',
                    radio: true
                },
                {
                    field: 'id',
                    title: 'ID'
                },
                {
                    field: 'subBotUid',
                    title: 'Bot'
                },
                {
                    field: 'subUsers',
                    title: '订阅用户'
                },
                {
                    field: 'subGroup',
                    title: '订阅群组'
                }
            ]
        };
        $.table.init(options);
    });

    function searchPre() {
        $.table.search('subscribe-form', 'bootstrap-table');
    }

    function resetPre() {
        $("#log-form")[0].reset();
        $.table.search('subscribe-form', 'bootstrap-table');
    }

</script>

</body>
</html>