<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{include :: header('实时日志')}"/>
<th:block th:insert="~{include :: bootstrap-select-css}"/>
<body>
<div contenteditable="false" id="loggingText"></div>
<th:block th:insert="~{include :: footer}"/>
<script th:inline="javascript">
    const socket = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/ws/log");
    //接收到JSON格式的日志
    socket.onmessage = function (event) {
        let $loggingText = $("#loggingText");
        $loggingText.append(event.data);
        $loggingText.scrollTop($loggingText[0].scrollHeight);
    };
</script>
</body>
</html>
