<!-- 通用CSS -->
<head th:fragment="header(title)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0,shrink-to-fit=no" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome5.15.4.min.css}"/>
    <!-- bootstrap-table 表格插件样式 -->
    <link rel="stylesheet" th:href="@{/ajax/libs/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}"/>
    <link rel="stylesheet" th:href="@{/nyx/css/nyx-ui.css}"/>

</head>

<div th:fragment="foundation">
    <link rel="stylesheet" href="https://cdn.staticfile.net/foundation/5.5.3/css/foundation.min.css">
    <script src="https://cdn.staticfile.net/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.staticfile.net/foundation/5.5.3/js/vendor/modernizr.js"></script>
</div>

<!-- 通用JS -->
<div th:fragment="footer">
    <script th:inline="javascript"> const ctx = [[@{/}]];
    const lockscreen = [[${session.lockscreen}]];
    if (lockscreen) {
        window.top.location = ctx + "lockscreen";
    }</script>
    <a class="btn btn-sm display" href="#" id="scroll-up"><i class="fa fa-angle-double-up"></i></a>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- bootstrap-table 表格插件 -->
    <script th:src="@{/ajax/libs/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js}"></script>
    <!-- jquery-validate 表单验证插件 -->
    <script th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/ajax/libs/validate/jquery.validate.extend.js}"></script>
    <script th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
    <!-- bootstrap-table 表格树插件 -->
    <script th:src="@{/ajax/libs/bootstrap-table/extensions/tree/bootstrap-table-tree.min.js}"></script>
    <!-- 遮罩层 -->
    <script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script th:src="@{/ajax/libs/layui/layui.min.js}"></script>
    <script th:src="@{/nyx/js/nyx-ui.js}"></script>
    <script th:src="@{/nyx/js/common.js}"></script>
</div>

<div th:fragment="jquery">
    <script th:src="@{/js/jquery.min.js}"></script>
</div>

<!-- select2下拉框插件 -->
<div th:fragment="select2-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/select2/select2.min.css}"/>
    <link rel="stylesheet" th:href="@{/ajax/libs/select2/select2-bootstrap.min.css}"/>
</div>
<div th:fragment="select2-js">
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
</div>

<!-- bootstrap-select下拉框插件 -->
<div th:fragment="bootstrap-select-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/bootstrap-select/bootstrap-select.min.css}"/>
</div>
<div th:fragment="bootstrap-select-js">
    <script th:src="@{/ajax/libs/bootstrap-select/bootstrap-select.min.js}"></script>
</div>

<!-- bootstrap-twitter 折叠插件 -->
<div th:fragment="bootstrap-twitter-css">
    <!--  <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" th:href="@{/ajax/libs/bootstrap-twitter/bootstrap-twitter.min.css}"/>
</div>
<div th:fragment="bootstrap-twitter-js">
    <script th:src="@{/ajax/libs/bootstrap-twitter/bootstrap-twitter.min.js}"></script>
    <!--  <script src="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</div>

<!-- datetimepicker日期和时间插件 -->
<div th:fragment="datetimepicker-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}"/>
</div>
<div th:fragment="datetimepicker-js">
    <script th:src="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.js}"></script>
</div>

<!-- ui布局插件 -->
<div th:fragment="layout-latest-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}"/>
</div>
<div th:fragment="layout-latest-js">
    <script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
</div>

<!-- summernote富文本编辑器插件 -->
<div th:fragment="summernote-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/summernote/summernote.css}"/>
</div>
<div th:fragment="summernote-js">
    <script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
    <script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
</div>

<!-- jasny功能扩展插件 -->
<div th:fragment="jasny-bootstrap-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/jasny/jasny-bootstrap.min.css}"/>
</div>
<div th:fragment="jasny-bootstrap-js">
    <script th:src="@{/ajax/libs/jasny/jasny-bootstrap.min.js}"></script>
</div>

<!-- duallistbox双列表框插件 -->
<div th:fragment="bootstrap-duallistbox-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/duallistbox/bootstrap-duallistbox.min.css}"/>
</div>
<div th:fragment="bootstrap-duallistbox-js">
    <script th:src="@{/ajax/libs/duallistbox/bootstrap-duallistbox.min.js}"></script>
</div>

<!-- suggest搜索自动补全 -->
<div th:fragment="bootstrap-suggest-js">
    <script th:src="@{/ajax/libs/suggest/bootstrap-suggest.min.js}"></script>
</div>

<!-- typeahead搜索自动补全 -->
<div th:fragment="bootstrap-typeahead-js">
    <script th:src="@{/ajax/libs/typeahead/bootstrap-typeahead.min.js}"></script>
</div>

<!-- 多级联动下拉 -->
<div th:fragment="jquery-cxselect-js">
    <script th:src="@{/ajax/libs/cxselect/jquery.cxselect.min.js}"></script>
</div>

<!-- jsonview格式化和语法高亮JSON格式数据查看插件 -->
<div th:fragment="jsonview-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/jsonview/jquery.jsonview.css}"/>
</div>
<div th:fragment="jsonview-js">
    <script th:src="@{/ajax/libs/jsonview/jquery.jsonview.js}"></script>
</div>

<!-- jquery.smartwizard表单向导插件 -->
<div th:fragment="jquery-smartwizard-css">
    <link rel="stylesheet" th:href="@{/ajax/libs/smartwizard/smart_wizard_all.min.css}"/>
</div>
<div th:fragment="jquery-smartwizard-js">
    <script th:src="@{/ajax/libs/smartwizard/jquery.smartWizard.min.js}"></script>
</div>

