<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta content="2024-12-21 01:40:01" name="buildTime">
    <meta charset="UTF-8"/>
    <link href="/favicon.svg" rel="icon"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="light dark" name="color-scheme"/>
    <title>NyxBot</title>
    <script crossorigin src="/assets/index-ClepFNnL.js" type="module"></script>
    <link crossorigin href="/assets/index-CrIkf1k5.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
</body>
</html>
