<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="webkit" name="renderer">
    <title>NyxBot</title>
    <!-- 避免IE使用兼容模式 -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" th:href="@{/img/index.png}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.contextMenu.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome5.15.4.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/skins.css}"/>
    <link rel="stylesheet" th:href="@{/nyx/css/nyx-ui.css}"/>
    <style>
        embed {
            width: 15px;
        }
    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden"
      th:classappend="${isMobile} ? 'canvas-menu'">
<div id="wrapper">

    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <a th:href="@{/}">
            <li class="logo hidden-xs">
                <span class="logo-lg">NyxBot</span>
            </li>
        </a>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="active">
                    <a th:href="@{/}"><i class="fa fa-home"></i> <span
                            class="nav-label">首页</span> </a>
                </li>
                <li>
                    <a class="menuItem" th:href="@{/log/info}" data-refresh="true">
                        <i class="fa fa-calendar"></i>
                        <span class="nav-label">日志查看</span>
                    </a>
                </li>
                <li id="config">
                    <a href="#" data-refresh="false">
                        <i class="fa fa-edit"></i>
                        <span class="nav-label">配置</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li id="git">
                            <a class="menuItem" data-refresh="false" onclick="gitConfig()">
                                <i class="fas fa-user"></i>
                                <span class="nav-label">配置Git账户</span>
                            </a>
                        </li>
                        <li>
                            <a class="menuItem" data-refresh="false" th:href="@{/config/admin}">
                                <i class="fas fa-user-cog"></i>
                                <span class="nav-label">管理员</span>
                            </a>
                        </li>
                        <li>
                            <a data-refresh="false" href="#">
                                <i class="fa fa-edit"></i>
                                <span class="nav-label">黑白名单</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level" th:if="${isBW}">
                                <li>
                                    <a class="menuItem" data-refresh="false"
                                       th:href="@{/config/bot/white/group}">
                                        <i class="fas fa-users"></i>
                                        <span class="nav-label">群白名单</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" data-refresh="false"
                                       th:href="@{/config/bot/white/prove}">
                                        <i class="fas fa-user"></i>
                                        <span class="nav-label">个人白名单</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-second-level" th:if="${!isBW}">
                                <li>
                                    <a class="menuItem" data-refresh="false"
                                       th:href="@{/config/bot/black/group}">
                                        <i class="fas fa-users-slash"></i>
                                        <span class="nav-label">群黑名单</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" data-refresh="false"
                                       th:href="@{/config/bot/black/prove}">
                                        <i class="fas fa-user-slash"></i>
                                        <span class="nav-label">个人黑名单</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#" data-refresh="false">
                        <i class="fa fa-database"></i>
                        <span class="nav-label">本地数据</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#" data-refresh="false">
                                <embed th:src="@{/svg/WARFRAME.svg}">
                                <span class="nav-label">Warframe</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a class="menuItem" th:href="@{/data/warframe/alias}" data-refresh="false">
                                        <i></i>
                                        <span class="nav-label">别名</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" th:href="@{/data/warframe/ephemeras}" data-refresh="false">
                                        <i></i>
                                        <span class="nav-label">幻纹</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" th:href="@{/data/warframe/subscribe}" data-refresh="false">
                                        <i></i>
                                        <span class="nav-label">订阅</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" th:href="@{/data/warframe/market}" data-refresh="false">
                                        <i></i>
                                        <span class="nav-label">Market</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" data-refresh="false" th:href="@{/data/warframe/rivenTrend}">
                                        <i></i>
                                        <span class="nav-label">Rivent</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" th:href="@{/data/warframe/translation}" data-refresh="false">
                                        <i></i>
                                        <span class="nav-label">翻译</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="menuItem" data-refresh="false" th:href="@{/data/warframe/notTranslation}">
                                        <i></i>
                                        <span class="nav-label">未翻译数据</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--右侧部分开始-->
    <div class="gray-bg dashbard-1" id="page-wrapper">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2" href="#" style="color:#FFF;"
                       title="收起菜单">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right welcome-message">
                    <!--<li class="dropdown user-menu">
                        <a class="dropdown-toggle" data-hover="dropdown" href="javascript:void(0)">
                            <span class="hidden-xs" i18n="Language">Language</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="language('cn')">
                                    中文(简体)</a>
                            </li>
                            <li>
                                <a onclick="language('en')">
                                    English</a>
                            </li>
                        </ul>
                    </li>-->
                    <li class="dropdown user-menu">
                        <a class="dropdown-toggle" data-hover="dropdown" href="javascript:void(0)">
                            <span class="hidden-xs" i18n="Personal_Center">个人中心</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a i18n="Reset_Password" onclick="resetPwd()">
                                    <i class="fa fa-key"></i> 修改密码</a>
                            </li>
                            <li>
                                <a i18n="Switch_Skin" onclick="switchSkin()">
                                    <i class="fa fa-dashboard"></i> 切换主题</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a i18n="Logout" th:href="@{logout}">
                                    <i class="fa fa-sign-out"></i> 退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a class="active menuTab" href="javascript:void(0);" i18n="Index"
                       th:data-id="@{/system/main}">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <a class="roll-nav roll-right tabReload" href="javascript:void(0);" i18n="Flushed"><i
                    class="fa fa-refresh"></i> 刷新</a>
        </div>

        <div class="row mainContent" id="content-main" th:classappend="${mainClass}">
            <iframe class="Index_iframe" frameborder="0" height="100%" name="iframe0" seamless
                    th:data-id="@{/system/main}" th:src="@{/system/main}" width="100%"></iframe>
        </div>

        <div class="footer">
            <div class="pull-right">
                <b>
                    <span i18n="Author">作者: </span><span style="color: red">KingPrimes</span> <br/>
                    <span i18n="BiliBili">B站昵称</span><span style="color: red">老王的冒险之旅</span> <br/>
                    UID:<span style="color: red">16131052</span>
                </b>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<!-- 全局js -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/i18n/jquery.i18n.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/jquery.contextMenu.min.js}"></script>
<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/nyx/js/nyx-ui.js}"></script>
<script th:src="@{/nyx/js/common.js}"></script>
<script th:src="@{/nyx/index.js}"></script>
<script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
<script th:inline="javascript">
    window.history.forward(1);
    const ctx = [[@{/}]];
    const lockscreen = [[${session.lockscreen}]];
    if (lockscreen) {
        window.top.location = ctx + "lockscreen";
    }
    // 皮肤缓存
    const skin = storage.get("skin");
    // history（表示去掉地址的#）否则地址以"#"形式展示
    const mode = "history";
    // 历史访问路径缓存
    const historyPath = storage.get("historyPath");
    // 是否页签与菜单联动
    const isLinkage = true;

    const body = $("body");

    // 本地主题优先，未设置取系统配置
    if ($.common.isNotEmpty(skin)) {
        body.addClass(skin.split('|')[0]);
        body.addClass(skin.split('|')[1]);
    } else {
        body.addClass([[${sideTheme}]]);
        body.addClass([[${skinName}]]);
    }

    /* 用户管理-重置密码 */
    function resetPwd() {
        const url = ctx + 'resetPwd';
        $.modal.open("重置密码", url, '770', '380');
    }

    function gitConfig() {
        const url = ctx + 'config/git/html';
        $.modal.open('配置Git账户', url, '400', '300')
        document.getElementById("config").setAttribute("class", "");
    }

    /* 切换主题 */
    function switchSkin() {
        layer.open({
            type: 2,
            shadeClose: true,
            title: "切换主题",
            area: ["530px", "386px"],
            content: [ctx + "system/switchSkin", 'no']
        })
    }

    /** 刷新时访问路径页签 */
    function applyPath(url) {
        $('a[href$="' + decodeURI(url) + '"]').click();
        if (!$('a[href$="' + url + '"]').hasClass("noactive")) {
            $('a[href$="' + url + '"]').parent("li").addClass("selected").parents("li").addClass("active").end().parents("ul").addClass("in");
        }
    }

    $(function () {
        let url;
        const lockPath = storage.get('lockPath');
        if ($.common.equals("history", mode) && window.performance.navigation.type === 1) {
            url = storage.get('publicPath');
            if ($.common.isNotEmpty(url)) {
                applyPath(url);
            }
        } else if ($.common.isNotEmpty(lockPath)) {
            applyPath(lockPath);
            storage.remove('lockPath');
        } else {
            const hash = location.hash;
            if ($.common.isNotEmpty(hash)) {
                url = hash.substring(1, hash.length);
                applyPath(url);
            } else {
                if ($.common.equals("history", mode)) {
                    storage.set('publicPath', "");
                }
            }
        }
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
</body>
</html>
