<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>登录</title>
    </head>
    <body>
        <form method="post" action="/login">
            <label>用户名：<input type="text" name="username"/></label>
            <br/>
            <label>密码：<input type="password" name="password"/></label>
          <!--  <input type="text" th:name = "${_csrf.getParameterName()}" th:value = "${_csrf.getToken()}" hidden=""/>-->
            <br/>
            <label>记住我：<input type="checkbox" name="remember"/></label>
            <input type="submit" value="登录"/>
        </form>
    </body>
</html>