<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="~{include :: header('服务')}"/>
    <style>
        embed{
            width: 25%;
        }
    </style>
    <body>
        <div class="wrapper wrapper-content animated fadeInRight ibox-content">
            <form class="row">
                <div class="col-sm-4" th:each="s:${services}">
                    <label class="col-sm-3 control-label" th:for="${s.getService().name()}">
                        <embed th:src="@{'/svg/'+${s.getService().name()}+'.svg'}" >
                        <div th:text="${s.getService().name()}"></div>
                    </label>
                    <div class="col-sm-3">
                        <label class="toggle-switch switch-solid" th:for="${s.getService().name()}">
                            <input th:id="${s.getService().name()}" th:name="${s.getService().name()}" type="checkbox" th:value="${s.getId()}" onclick="check(this)" th:checked="${s.getSwit()}"> <span></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <th:block th:insert="~{include :: footer}"/>
        <script>
            const prefix = ctx + "services";
            function check(check){
                $.operate.post(prefix,{"id":check.value,"name":check.name,"check":check.checked})
            }
        </script>
    </body>
</html>